<div class="footer-container">
    <!-- About Section -->
    <div class="footer-section">
      <h4>About</h4>
      <ul>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Flipkart Stories</a></li>
        <li><a href="#">Press</a></li>
      </ul>
    </div>
  
    <!-- Help Section -->
    <div class="footer-section">
      <h4>Help</h4>
      <ul>
        <li><a href="#">Payments</a></li>
        <li><a href="#">Shipping</a></li>
        <li><a href="#">Cancellation & Returns</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Report Infringement</a></li>
      </ul>
    </div>
  
    <!-- Policy Section -->
    <div class="footer-section">
      <h4>Policy</h4>
      <ul>
        <li><a href="#">Return Policy</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Security</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Sitemap</a></li>
      </ul>
    </div>
  
    <!-- Social Section -->
    <div class="footer-section">
      <h4>Social</h4>
      <ul>
        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
        <li><a href="#"><i class="fa fa-youtube"></i> YouTube</a></li>
      </ul>
    </div>
  
    <!-- Payments Section -->
    <div class="footer-section">
      <h4>Payment Methods</h4>
      <ul class="payment-methods">
        <li><img src="assets/visa.png" alt="Visa"></li>
        <li><img src="assets/mastercard.png" alt="MasterCard"></li>
        <li><img src="assets/paypal.png" alt="PayPal"></li>
        <li><img src="assets/amex.png" alt="Amex"></li>
      </ul>
    </div>
  </div>
  
  <div class="footer-bottom">
    <p>© 2024 Flipkart Clone. All rights reserved.</p>
  </div>
  
